@import 'colors.css';


.base-button {
    display: flex;
    width: 75%;
    height: 64px;
    background-color: var(--alt-background-color);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
}

.base-button:hover {
    cursor: pointer;
}

#app-link {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}