:root {
    --background-color: #EDEEF0;
    --alt-background-color: #5B88BD;
    --text-color: rgb(53, 53, 53);
    --primary-color: #FFFFFF;
    --accent-color: #7D9CB8;
    --error-color: #F15C44;
}